{% extends "normal_form_games/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} of {{ play_rounds }}
{% endblock %}

{% block content %}
    <div id="target"></div>
    <input type="hidden" value="-1" name="choice" id="id_choice"/>

    <div class="centered">


    {% next_button %}



    {{ form.choice.errors }}

    <div id="please_wait">
        Please wait
        <span id="timer_span"> &nbsp; </span>
        seconds before continuing.
    </div>
</div>

    <script>
        var game = JSON.parse("{{ player.game }}");
        var min_time = parseInt("{{ min_time }}");
        $(document).ready(function () {
          runGame('#target', game, min_time);
        });
    </script>


{% endblock %}
