{% extends "normal_form_games/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} of {{ play_rounds }}
{% endblock %}

{% block content %}
    <div id="target"></div>
    <input type="hidden" value="-1" name="choice" id="id_choice"/>

<div class="centered">


    {% next_button %}



    {{ form.choice.errors }}

    <div id="timer_div">
        0
    </div>
</div>

    <script>
        var game = JSON.parse("{{ player.game }}");
        $(document).ready(function () {
          runGame('#target', game);
        });

        var seconds_left = 0;
        if ({{Constants.min_time}} == 0) {
                $("#timer_div").text("");
        }
        else {
            $('.otree-btn-next').hide();
            var interval = setInterval(function() {
                $('#timer_div').text(++seconds_left);

                if (seconds_left >= {{Constants.min_time}})
                {
                $('#timer_div').text("");
                    clearInterval(interval);
                    $('.otree-btn-next').show();

                }
            }, 1000);
        }

    </script>


{% endblock %}
