{% extends "normal_form_games/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    The game is {{ player.game }}

    <div id="target"></div>
    <input type="hidden" value="-1" name="choice" id="id_choice"/>

    {% if last_choice %}
        You chose {{ last_choice }}.
    {% endif %}

    {{ form.choice.errors }}

    {% next_button %}
    
    <script>
        var game = JSON.parse("{{ player.game }}");
        $(document).ready(function () {
          runGame('#target', game);
        });
    </script>


{% endblock %}
