{% extends "normal_form_games/Page.html" %}
{% load otree %}

{% block title %}
    Result
{% endblock %}

{% block content %}


    <div id="target"></div>
    <script>
        var row = parseInt("{{ prev_player.choice }}");
        var col = parseInt("{{ prev_player.other_choice }}");
        var game = JSON.parse("{{ prev_player.game }}");
        $(document).ready(function () {
          showResult('#target', game, row, col);
        });
    </script>


    <div class="centered">
        You earned {{ prev_player.payoff }} on this round.
        <br>
        In total, you've earned {{ earnings }}
        {% next_button %}
    </div>

{% endblock %}
