{% extends "normal_form_games/Page.html" %}
{% load otree %}

{% block title %}
    Result
{% endblock %}

{% block content %}


    <div id="target"></div>
    <script>
        var row = parseInt("{{ player.choice }}");
        var col = parseInt("{{ player.other_choice }}");
        var game = JSON.parse("{{ player.game }}");
        $(document).ready(function () {
          showResult('#target', game, row, col);
        });
    </script>

    You earned {{ player.payoff }}.
    
    {% next_button %}

{% endblock %}
